@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap")
layer(base);

@import "tailwindcss";

@theme {
  --color-primary: rgb(var(--primary));
  --color-surface-tint: rgb(var(--surface-tint));
  --color-on-primary: rgb(var(--on-primary));
  --color-primary-container: rgb(var(--primary-container));
  --color-on-primary-container: rgb(var(--on-primary-container));
  --color-secondary: rgb(var(--secondary));
  --color-on-secondary: rgb(var(--on-secondary));
  --color-secondary-container: rgb(var(--secondary-container));
  --color-on-secondary-container: rgb(var(--on-secondary-container));
  --color-tertiary: rgb(var(--tertiary));
  --color-on-tertiary: rgb(var(--on-tertiary));
  --color-tertiary-container: rgb(var(--tertiary-container));
  --color-on-tertiary-container: rgb(var(--on-tertiary-container));
  --color-error: rgb(var(--error));
  --color-on-error: rgb(var(--on-error));
  --color-error-container: rgb(var(--error-container));
  --color-on-error-container: rgb(var(--on-error-container));
  --color-background: rgb(var(--background));
  --color-on-background: rgb(var(--on-background));
  --color-on-background-op-12: rgb(var(--on-background) / 12%);
  --color-on-background-op-38: rgb(var(--on-background) / 38%);
  --color-surface: rgb(var(--surface));
  --color-on-surface: rgb(var(--on-surface));
  --color-surface-variant: rgb(var(--surface-variant));
  --color-on-surface-variant: rgb(var(--on-surface-variant));
  --color-outline: rgb(var(--outline));
  --color-outline-variant: rgb(var(--outline-variant));
  --color-shadow: rgb(var(--shadow));
  --color-scrim: rgb(var(--scrim));
  --color-inverse-surface: rgb(var(--inverse-surface));
  --color-inverse-primary: rgb(var(--inverse-primary));
  --color-primary-fixed: rgb(var(--primary-fixed));
  --color-on-primary-fixed: rgb(var(--on-primary-fixed));
  --color-primary-fixed-dim: rgb(var(--primary-fixed-dim));
  --color-on-primary-fixed-variant: rgb(var(--on-primary-fixed-variant));
  --color-secondary-fixed: rgb(var(--secondary-fixed));
  --color-on-secondary-fixed: rgb(var(--on-secondary-fixed));
  --color-secondary-fixed-dim: rgb(var(--secondary-fixed-dim));
  --color-on-secondary-fixed-variant: rgb(var(--on-secondary-fixed-variant));
  --color-tertiary-fixed: rgb(var(--tertiary-fixed));
  --color-on-tertiary-fixed: rgb(var(--on-tertiary-fixed));
  --color-tertiary-fixed-dim: rgb(var(--tertiary-fixed-dim));
  --color-on-tertiary-fixed-variant: rgb(var(--on-tertiary-fixed-variant));
  --color-surface-dim: rgb(var(--surface-dim));
  --color-surface-bright: rgb(var(--surface-bright));
  --color-surface-container-lowest: rgb(var(--surface-container-lowest));
  --color-surface-container-low: rgb(var(--surface-container-low));
  --color-surface-container: rgb(var(--surface-container));
  --color-surface-container-high: rgb(var(--surface-container-high));
  --color-surface-container-highest: rgb(var(--surface-container-highest));

  --breakpoint-xxs: 375px;
  --breakpoint-xs: 425px;

  --font-roboto: Roboto, sans-serif;

  --shadow-elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --shadow-elevation-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --shadow-elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3),
    0px 8px 12px 6px rgba(0, 0, 0, 0.15);

  --grid-template-rows-layout: auto 1fr auto;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-display-lg {
  font-size: 57px;
  line-height: 64px; /* 112.281% */
  letter-spacing: -0.25px;
}

@utility text-display {
  font-size: 45px;
  line-height: 52px; /* 115.556% */
}

@utility text-display-sm {
  font-size: 36px;
  line-height: 44px; /* 122.222% */
}

@utility text-headline-lg {
  font-size: 32px;
  line-height: 40px; /* 125% */
}

@utility text-headline {
  font-size: 28px;
  line-height: 36px; /* 128.571% */
}

@utility text-headline-sm {
  font-size: 24px;
  line-height: 32px; /* 133.333% */
}

@utility text-title-lg {
  font-size: 22px;
  line-height: 28px; /* 127.273% */
}

@utility text-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
}

@utility text-title-sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

@utility text-label-lg {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

@utility text-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.5px;
}

@utility text-label-sm {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px; /* 145.455% */
  letter-spacing: 0.5px;
}

@utility text-body-lg {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

@utility text-body {
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
}

@utility text-body-sm {
  font-size: 12px;
  line-height: 16px; /* 133.333% */
}

@layer base {
  :root {
    --primary: 142 77 47;
    --surface-tint: 142 77 47;
    --on-primary: 255 255 255;
    --primary-container: 255 219 205;
    --on-primary-container: 54 15 0;
    --secondary: 119 87 74;
    --on-secondary: 255 255 255;
    --secondary-container: 255 219 205;
    --on-secondary-container: 44 22 12;
    --tertiary: 103 95 48;
    --on-tertiary: 255 255 255;
    --tertiary-container: 239 227 169;
    --on-tertiary-container: 32 28 0;
    --error: 186 26 26;
    --on-error: 255 255 255;
    --error-container: 255 218 214;
    --on-error-container: 65 0 2;
    --background: 255 248 246;
    --on-background: 35 26 22;
    --surface: 255 248 246;
    --on-surface: 35 26 22;
    --surface-variant: 245 222 213;
    --on-surface-variant: 83 68 61;
    --outline: 133 115 108;
    --outline-variant: 216 194 186;
    --shadow: 0 0 0;
    --scrim: 0 0 0;
    --inverse-surface: 56 46 42;
    --inverse-on-surface: 255 237 231;
    --inverse-primary: 255 181 150;
    --primary-fixed: 255 219 205;
    --on-primary-fixed: 54 15 0;
    --primary-fixed-dim: 255 181 150;
    --on-primary-fixed-variant: 113 54 26;
    --secondary-fixed: 255 219 205;
    --on-secondary-fixed: 44 22 12;
    --secondary-fixed-dim: 230 190 173;
    --on-secondary-fixed-variant: 93 64 52;
    --tertiary-fixed: 239 227 169;
    --on-tertiary-fixed: 32 28 0;
    --tertiary-fixed-dim: 210 199 143;
    --on-tertiary-fixed-variant: 78 71 27;
    --surface-dim: 232 214 208;
    --surface-bright: 255 248 246;
    --surface-container-lowest: 255 255 255;
    --surface-container-low: 255 241 236;
    --surface-container: 252 234 228;
    --surface-container-high: 246 229 222;
    --surface-container-highest: 241 223 216;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  input,
  select,
  button {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
